<nav class="navbar navbar-light bg-light shadow-sm">
  <div
    class="container-fluid d-flex justify-content-between align-items-center px-3"
  >
    <h3 class="fw-bold">Library Management System</h3>
    <img
      [src]="imageUrl"
      alt="User Avatar"      
      width="50"
      height="50"
      class="rounded-circle dropdown-toggle"
      data-bs-toggle="dropdown"
      style="cursor: pointer"
      (error)="imageUrl='http://localhost:5000/uploads/userImages/defaultUser.png'"
    />

    <!-- <p>{{imageUrl}}</p> -->

    <div
      class="dropdown-menu dropdown-menu-end p-0 shadow"
      style="width: 230px"
    >
      <div class="card border-0">
        <div class="card-body text-center">
          <img
            [src]="imageUrl"
            class="rounded-circle mb-2"
            width="60"
            height="60"
          />
          <h6 class="fw-bold">{{ username }}</h6>
          <small class="text-muted">{{ role }}</small>
        </div>

        <div class="list-group list-group-flush">
          <a
            routerLink="/user/profile"
            class="list-group-item list-group-item-action"
          >
            Edit Profile
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
