.no{
    width: 60px;
}

.avatar{
    width: 120px;
}

.fullname{
    width: 200px;
}

.username{
    width: 200px;
}

.gender{
    width: 120px;
}

.address{
    width: 200px;
}

.phone{
    width: 200px;
}

.role{
    width: 180px;
}

.action{
    width: 300px;
}